@import "tailwindcss";

.text-outline {
  text-shadow:
    -2px -2px 0 #ffffff,
     2px -2px 0 #ffffff,
    -2px  2px 0 #ffffff,
     2px  2px 0 #ffffff;
}

.text-outline-thin {
  text-shadow:
    -0.5px -0.5px 0 #ffffff,
     0.5px -0.5px 0 #ffffff,
    -0.5px  0.5px 0 #ffffff,
     0.5px  0.5px 0 #ffffff;
}
